.headerText {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px; 
  padding: 40px 20px 10px 20px;
}

.wrapper{
  width: 850px;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.line {
  height: 2px;
  background: #0f172a;
  flex: 1;
}

.text {
  font-family: 'Poppins', 'sans-serif';
  font-weight: 800;
  font-size: 2.5rem;
  -webkit-text-stroke: 1.5px #0f172a;
  -webkit-text-fill-color: transparent;
}

.sectionContent {
  padding: 20px;
  display: grid;
  gap: 20px; 
  grid-template-columns: repeat(1, minMax(0, 1fr));
  text-align: center;
}

.content {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: 1px solid #0f172a;
  padding: 8px;
}

.contentHeader {
  font-family: 'Poppins', 'sans-serif';
}

.icons {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 2rem;
  padding: 40px 0;
}

@media (min-width: 640px) {
  .text {
    font-size: 4rem;
    -webkit-text-stroke: 2px #0f172a;
  }

  .sectionContent {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .content {
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
  }

  .contentHeader{
    padding: 8px;
  }

  .paragraph {
    margin: auto;
    padding: 4px;
  }

  .icons {
    font-size: 3rem;
    gap: 60px;
  }
}