.headerText {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px; 
  padding: 40px 20px 10px 20px;
}

.line {
  height: 2px;
  background: #0f172a;
  flex: 1;
}

.text {
  font-family: 'Poppins', 'sans-serif';
  font-weight: 800;
  font-size: 2.5rem;
  -webkit-text-stroke: 1.5px #0f172a;
  -webkit-text-fill-color: transparent;
}